* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'open sans', sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: bold;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  padding: 0 30px;
  transition: 0.5s;
  flex-wrap: wrap;
}

.navbar .top {
  background: transparent;
}

.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
  flex-wrap: wrap;
}

.navbar a:hover {
  border-bottom: #28a745 2px solid;
}

.navbar ul {
  display: flex;
}

.navbar .logo {
  padding-top: 6px;
}

#success .container {
  height: 30vh;
  width: 100vw;
  background: #28a745;
}

#success .container {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/* Header */
.hero {
  background: url('../img/home/farm.jpg') no-repeat center center/cover;
  height: 100vh;
  width: 100vw;
  position: relative;
  color: #fff;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 30px;
  width: 100%;
  height: 100%;
}

.hero .content h1 {
  font-size: 60px;
}

.hero .content p {
  font-size: 20px;
  max-width: 600px;
  text-indent: 33px;
  text-align: justify;
}

.hero .btn {
  margin-top: 20px;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.hero * {
  z-index: 10;
}

/* About */
.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.about h2 {
  margin-top: 2rem;
  font-size: 45px;
}

.about p {
  text-align: justify;
  font-size: 20px;
  margin: 1rem 2rem;
}

.about .btn {
  margin-top: 1rem;
}

/* Products */
#products .section-header {
  background-color: #0284d0;
  margin-top: 2rem;
  padding: 20px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.flex-container-1 {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.product {
  margin: 10px;
  padding: 10px;
  background-color: #ccc;
}

.product .btn {
  margin-top: 5px;
}

/* .flex-container-2 {
  display: flex;
} */

/* Callback Form */

.callback-form {
  width: 100%;
  padding: 20px 0px;
}

.callback-form label {
  display: block;
  margin-bottom: 5px;
}

.callback-form .form-control {
  margin-bottom: 15px;
}

.callback-form input {
  width: 100%;
  padding: 4px;
  height: 40px;
  border: #f5f5f5;
}

.callback-form input {
  outline-color: #28a745;
}

.callback-form .callback-form .btn {
  padding: 12px 0;
  margin-top: 9px;
}

/* Contact Info */
.container {
  display: flex;
  background: #333;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 10px 10px;
  flex-wrap: wrap;
}

/* Footer */
.footer {
  text-align: center;
  background: #333;
  color: #fff;
  padding: 3px;
}

/* Mobile */
@media(max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: 120px;
    width: 480px;
    padding: 20px 20px;
  }

  .navbar a {
    padding: 10px 10px;
    margin: 0;
  }

  .container {
    flex-direction: column;
  }

  .section-header {
    text-align: center;
    max-width: 100%;
  }

  .flex-columns .column {
    flex: 100%;
    max-width: 100%;
  }

  .flex-columns .column-2 .form-control textarea {
    max-width: 100%;
  }

  .footer {
    text-align: center;
  }
}